<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body style="background-color: black; color: white;">
    <div class="container">
        <div class="row">
            <section id="description">
                <div class="col-md-12 text-center story-text">
                   <br><br>
                    {{ .Content }}
                <br><br>
                </div>
            </section>
        </div>
    </div>
    <div style="position: relative;" id="decision_image">
        <img class="img-fluid" src="{{ (printf `images/decision/%s` .Params.decision_image) | absURL }}" alt="{{ .Params.decision_image_alt }}">
        <div class="decision_options">
            <a class="m-4" href="{{ (printf `outcome/%s` (index .Params.decisions 0).slug) | absURL }}" >
                <div class="decision_option badge badge-light text-wrap holiday-button" style="top: 15%">
                    {{ (index .Params.decisions 0).text }}
                </div>
            </a>
            <a class="m-4" href="{{ (printf `outcome/%s` (index .Params.decisions 1).slug) | absURL }}" >
                <div class="decision_option badge badge-light text-wrap holiday-button" style="top: 30%">
                    {{ (index .Params.decisions 1).text }}
                </div>
            </a>
        </div>
    </div>

    {{- partial "footer-scripts.html" . -}}
</body>

</html>