.decision_option{
    /* used for overlapping the picture */
    position: absolute;
    /* trying to not have excatly on edge of screen */
    left: 5px;
    /* overriding bootstrap, because takes up too much space */
    padding: .15em .4em;
    /* seems like a good size */
    font-size: 14px;
    /*  */
    width: 28%;
}

.video-container { 
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}