<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body style="background-color: black;">
    <div style="position: relative;">
        <div class="video-container">
            <a id="video-button" href="{{ (printf `decision/%s` .Params.next_slug ) | absURL }}" class="btn btn-light video-button holiday-button">Next</a>
            <iframe id="YT-video" src="https://www.youtube.com/embed/{{ .Params.yt_vid }}?controls=0&autoplay=1&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    {{- partial "footer-scripts.html" . -}}
    <script>
        window.addEventListener("load", function(event) 
        {
            var screen_h = window.innerHeight
            // var screen_w = window.innerWidth
            // console.log(screen_h + 'x' + screen_w)
            var buttonz = document.getElementById("video-button")
            buttonz.style.top = Math.floor(screen_h * .33) + "px"
            console.log(screen_h)
        });
    </script>
</body>

</html>